{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@controllers": "./src/controllers",
          "@models": "./src/models",
          "@types": "./src/types"
        }
      }
    ]
  ],
  "ignore": ["**/*.spec.ts"]
}